.button {
  display: inline-block;
  padding: 20px 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.button--primary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.button--secondary {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  padding: 18px 38px;
}
