.experience {
  padding-left: 80px;
  padding-right: 80px;
  display: grid;
  grid-template-columns: 1fr 422px;
  column-gap: 32px;
}

.experience__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 104px;
}

.experience__title {
  max-width: 796px;
}

.experience__desc {
  max-width: 335px;
  margin-bottom: 24px;
}

.experience__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 88px;
  margin-left: auto;
  margin-bottom: 78px;
}

.experience__image {
  height: 436px;
}

.experience__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience__list {
  margin-left: 104px;
  margin-bottom: 200px;
  list-style: none;
  padding: 0;
}

.experience__item {
  position: relative;
  max-width: max-content;
  margin-bottom: 112px;
}

.experience__item:last-child {
  margin-bottom: 0;
}

.experience__item:nth-child(2) {
  transform: translateX(100px);
}

.experience__item:nth-child(3) {
  transform: translateX(200px);
}

.experience__item:nth-child(2)::before,
.experience__item:nth-child(3)::before {
  position: absolute;
  content: '';
  width: 90.5px;
  height: 80px;
  background-image: url(../../images/experience-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: -99px;
  top: -32px;
}

.experience__link {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
}

.experience__link--decorator {
  padding: 40px 150px 40px 40px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.experience__link--decorator::after {
  position: absolute;
  content: '';
  width: 37px;
  height: 37px;
  background-color: var(--color-secondary);
  border-radius: 100%;
  border: 1px solid var(--color-primary);
  top: 50%;
  left: -18.5px;
  transform: translateY(-50%);
}

.experience__link--decorator::before {
  position: absolute;
  content: '';
  width: 87px;
  height: 87px;
  background-color: var(--color-secondary);
  background-image: url(../../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 47px 47px;
  background-position: center;
  border-radius: 100%;
  top: 50%;
  right: 44px;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.experience__link:hover {
  text-decoration: underline;
}

@media (max-width: 1780px) {
  .experience__desc {
    max-width: 735px;
  }

  .experience__image {
    grid-row: 2/3;
    grid-column: 1/3;
    height: 650px;
    margin-bottom: 32px;
  }

  .experience__list {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 0;
  }
}

@media (max-width: 1440px) {
  .experience {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .experience__text {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .experience__title {
    max-width: 100%;
  }

  .experience__desc {
    max-width: 100%;
  }

  .experience__list {
    margin-bottom: 42px;
  }

  .experience__buttons {
    flex-direction: row;
    grid-column: 1/3;
    margin-left: 0;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 200px;
  }
}

@media (max-width: 1280px) {
  .experience__link--decorator {
    padding: 26px 170px 29px 24px;
  }

  .experience__item {
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .experience {
    padding-left: 40px;
    padding-right: 40px;
  }

  .experience__item {
    margin-bottom: 40px;
  }

  .experience__item:nth-child(2) {
    transform: translateX(36px);
  }

  .experience__item:nth-child(3) {
    transform: translateX(76px);
  }

  .experience__item:nth-child(2)::before,
  .experience__item:nth-child(3)::before {
    left: -47px;
    top: -9px;
    width: 32px;
    height: 34px;
  }

  .experience__link--decorator::before {
    width: 57px;
    height: 57px;
    background-size: 27px 27px;
  }

  .experience__link--decorator::after {
    width: 14px;
    height: 14px;
    left: -7px;
  }
}

@media (max-width: 810px) {
  .experience__link--decorator {
    padding: 26px 80px 29px 24px;
  }

  .experience__link--decorator::before {
    width: 38px;
    height: 38px;
    background-size: 20px 20px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .experience {
    padding-left: 24px;
    padding-right: 24px;
  }

  .experience__link {
    font-size: 26px;
  }

  .experience__image {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 280px;
    margin-bottom: 48px;
  }

  .experience__text {
    grid-row: 2 / 3;
    margin-bottom: 40px;
  }

  .experience__buttons {
    margin-bottom: 120px;
  }
}

@media (max-width: 480px) {
  .experience__image {
    height: 160px;
  }
}

@media (max-width: 400px) {
  .experience__link {
    max-width: 190px;
  }
}
