.speakers {
  margin: 0 auto 200px;
}

.speakers__title {
  text-align: center;
  margin-bottom: 112px;
  padding-left: 80px;
  padding-right: 60px;
}

.speakers__list {
  list-style: none;
  padding: 0;
  margin: 0 0 112px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-left: 80px;
  padding-right: 60px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.speakers__list::-webkit-scrollbar {
  display: none;
}

.speakers__item {
  flex-basis: 422px;
  flex-shrink: 0;
}

.speakers__item img {
  width: 100%;
  height: 499px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin-bottom: 48px;
}

.speakers__speciality {
  margin-bottom: 24px;
}

.speakers__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.speakers__desc {
  width: 652px;
}

.speakers__decoration {
  display: flex;
  gap: 32px;
}

.speakers__decoration svg {
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.speakers__decoration svg:nth-child(1) {
  animation-duration: 8s;
}

.speakers__decoration svg:nth-child(2) {
  animation-duration: 9s;
}

.speakers__decoration svg:nth-child(3) {
  animation-duration: 10s;
}
