.speakers {
  margin: 0 auto 200px;
}

.speakers__title {
  text-align: center;
  margin-bottom: 112px;
  padding-left: 80px;
  padding-right: 60px;
}

.speakers__list {
  list-style: none;
  padding: 0;
  margin: 0 0 112px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 80px;
  padding-right: 60px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.speakers__list::-webkit-scrollbar {
  display: none;
}

.speakers__item {
  flex-basis: 422px;
  flex-shrink: 0;
}

.speakers__item img {
  width: 100%;
  height: 499px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin-bottom: 48px;
}

.speakers__speciality {
  display: inline-block;
  margin-bottom: 24px;
}

.speakers__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  gap: 20px;
}

.speakers__desc {
  width: 652px;
}

.speakers__decoration {
  display: flex;
  gap: 32px;
}

.speakers__decoration svg {
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.speakers__decoration svg:nth-child(1) {
  animation-duration: 8s;
}

.speakers__decoration svg:nth-child(2) {
  animation-duration: 9s;
}

.speakers__decoration svg:nth-child(3) {
  animation-duration: 10s;
}

@media (max-width: 1280px) {
  .speakers__footer {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .speakers__title,
  .speakers__list,
  .speakers__footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .speakers__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .speakers__title,
  .speakers__list,
  .speakers__footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 480px) {
  .speakers__list {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .speakers__title,
  .speakers__list,
  .speakers__footer {
    padding-left: 24px;
    padding-right: 24px;
  }

  .speakers__title {
    text-align: left;
    margin-bottom: 48px;
  }

  .speakers__item {
    flex-basis: 135px;
  }

  .speakers__item img {
    height: 135px;
    margin-bottom: 24px;
  }

  .speakers__speciality {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .speakers__decoration {
    gap: 14px;
  }

  .speakers__decoration svg {
    width: 28px;
    height: 28px;
  }

  .speakers__footer {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 10px;
  }
}
